.error {
	color: pink;
	font-weight: bold;
}
.medium{
	text-align: center; 
	background-color:#03def491;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.staff{
	text-align: center; 
	/* background-color: #8bc34af2; */
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.backpng{
	background-image:url('images/printer.jpg');
}
.loginmedium{
	border-style:outset;
	border-color:#03def491;
	text-align: center; 
	border-radius: 20px;
	width: 300px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.bodystyle{
	padding: 0;
    background: url("images/printer.jpg") no-repeat;
    background-size: cover;
}
.form-container{
    padding: 30px;
    margin: 180px 0 0 0;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    -webkit-box-shadow: 7px 14px 24px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 14px 24px 5px rgba(0,0,0,0.75);
    box-shadow: 7px 14px 24px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.form-container h2{
    text-align: center;
}